@font-face {
  font-family: "KCC-Hanbit";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
p,
b {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "KCC-Hanbit";
}

.wrapper {
  width: 100%;
  height: 60px;
}

.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  border: solid;
  border-color: #8e8e8e;
  border-width: 0px 0px 1px 0px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.logo {
  margin-left: 6vw;
  width: 7.5vw;
  height: 3.5vh;
}

.logo img {
  width: 7.5vw;
  height: 3.5vh;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents a {
  text-decoration: none;
  color: #3e3e3e;
  font-size: 16px;
  margin: 0px 20px;
}

#login-button {
  background-color: #ffade3;
  box-sizing: border-box;
  border-radius: 13px;
  width: 124px;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffffff;
  margin-right: 20px;
}

#post1 {
  margin: 147px 425px 152px 365px;
  display: flex;
}

#post1-font {
  width: 300px;
}
#post-hanbit p,
#post-pretendard p {
  display: block;
}

#post1-hanbit {
  font-size: 44px;
}

#post1-pretendard {
  font-size: 16px;
  margin-top: 14px;
  font-family: "Pretendard-Regular";
}

#post1-img img {
  width: 350px;
  height: 350px;
}

#post1-img {
  width: 350px;
  height: 350px;
  margin-left: 10px;
}

#post1-font {
  margin-top: 60px;
}
